.edit__gallery {
  display: flex;
  gap: 10%;
  width: max-content;
  margin-inline: auto;
  margin-block: 1.5rem;
  padding: 1.5rem 1.5rem 1.2rem 1.2rem;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.edit__gallery__details__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.edit__gallery__image__container {
  position: relative;
  width: 5.375rem;
  height: 5.375rem;
  margin-inline: auto;
}

.edit__gallery__image {
  border-radius: 0.4rem;
}

.edit__gallery__detail__input__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit__gallery__detail__input {
  width: 13rem;
  border: 1px solid hsl(211, 45%, 90%);
  padding: 0.2rem 0.5rem;
  border-radius: 0.125rem;
}

.edit__gallery__detail__input::placeholder {
  font-size: var(--fs-200);
}

.edit__gallery__detail__input:focus {
  outline: none;
}

.edit__gallery__upload__input {
  display: none;
}

.edit__gallery__profile__pic__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--clr-accent-300);
  margin-inline: auto;
  cursor: pointer;
  margin-block: 1rem 0rem;
}

.edit__gallery__profile__pic__icon:hover {
  fill: var(--clr-accent-200);
}

.edit__gallery__profile__pic__container {
  position: relative;
  width: 5.6rem;
  height: 6rem;
  background: gray;
  border-radius: 0.3125rem;
  margin-inline: auto;
  margin-bottom: 1rem;
}

.edit__gallery__upload__wrapper {
  margin-block: auto;
}

.edit__gallery__profile__pic {
  border-radius: 0.3125rem;
}

.edit__gallery__create__button {
  width: max-content;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  background: var(--clr-accent-200);
  color: #fff;
  border: none;
  border-radius: 0.3125rem;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-inline: auto;
}

.edit__gallery__create__button:hover {
  background: hsl(212, 57%, 60%);
}

@media (max-width: 31.25em) {
  .edit__gallery__create__button {
    margin-inline: auto;
  }
}

.edit__gallery__detail__label {
  color: rgba(29, 23, 23, 0.75);
  text-transform: capitalize;
}

.edit__gallery__message__error {
  animation: hideMessage 0s ease-in 7s;
  animation-fill-mode: forwards;
  margin-top: 1rem;
  background: rgba(233, 54, 54, 0.637);
  padding: 0.4rem 0.6rem;
  color: white;
  width: max-content;
  margin-inline: auto;
  border-radius: 0.1rem;
}

.edit__gallery__message {
  animation: hideMessage 0s ease-in 5s;
  animation-fill-mode: forwards;
  margin-top: 1rem;
  background: rgba(7, 172, 7, 0.664);
  padding: 0.4rem 0.6rem;
  color: white;
  width: max-content;
  margin-inline: auto;
  border-radius: 0.1rem;
}

.edit__gallery__message__load {
  animation-fill-mode: forwards;
  margin-top: 1rem;
  background: rgb(196, 196, 13);
  padding: 0.4rem 0.6rem;
  color: white;
  width: max-content;
  margin-inline: auto;
  border-radius: 0.1rem;
}

@keyframes hideMessage {
  to {
    visibility: hidden;
  }
}
